{% extends '@Forumify/frontend/base.html.twig' %}
{% block title_page %}
    {{ 'perscom.opcenter.operations'|trans }}
{% endblock %}
{% block body %}
    <h1>{{ 'perscom.opcenter.operations'|trans }}</h1>
    {{ component('Perscom\\OperationList', { size: 5 }) }}
{% endblock %}
