<div>
    <h2 class="flex gap-2 items-center">
        {{ user.name }}
        {% if user.status %}
            {% include '@ForumifyPerscomPlugin/frontend/roster/components/status.html.twig' with {
                status: user.status
            } only %}
        {% endif %}
    </h2>
    <p class="text-subtitle">{{ user.rank.name ?? '' }}, {{ user.position.name ?? '' }}</p>
</div>
