<div id="courses">
    <h2>{{ 'perscom.opcenter.class_signup_open'|trans }}</h2>
    {{ component('Perscom\\CourseClassList', { loading: 'lazy', signupOnly: true }) }}
    <h2 class="mt-4">{{ 'perscom.opcenter.courses'|trans }}</h2>
    {{ component('Perscom\\CourseList', { loading: 'lazy', expanded: false }) }}
</div>
