<div class="flex">
    <a class="btn-link btn-icon btn-small" href="{{ path('perscom_admin_user_edit', { id: row.id }) }}">
        <i class="ph ph-pencil-simple-line"></i>
    </a>
    <div {{ stimulus_controller('forumify/forumify-platform/menu', { placement: 'bottom-end', hideAdornment: true }) }}>
        <a class="btn-link btn-icon btn-small" {{ stimulus_target('forumify/forumify-platform/menu', 'openButton') }}>
            <i class="ph ph-caret-down"></i>
        </a>
        <div class="menu" {{ stimulus_target('forumify/forumify-platform/menu', 'menu') }}>
            {% include '@ForumifyPerscomPlugin/admin/users/list/quick_actions.html.twig' with { user: row } %}
        </div>
    </div>
</div>
