{% extends '@Forumify/admin/base.html.twig' %}
{% block body %}
    {% embed '@Forumify/admin/components/simple_form.html.twig' with {
        title: 'perscom.settings.title'|trans,
        cancelPath: path('forumify_admin_plugin_list')
    } %}
        {% block form %}
            <p class="alert-info mb-6 text-small"><i class="ph ph-info"></i> {{ 'perscom.settings.license_requirement'|trans }}</p>
            {{ parent() }}
        {% endblock %}
    {% endembed %}
{% endblock %}
