{% set statusClass = '' %}
{% set statusText = '' %}

{% if rsvp.going == '1' %}
    {% set statusClass = 'badge-success' %}
    {% set statusText = 'Going' %}
    {% set statusColor = 'green' %}
{% elseif rsvp.going == '0' %}
    {% set statusClass = 'badge-danger' %}
    {% set statusText = 'Not Going' %}
    {% set statusColor = 'red' %}
{% endif %}

<span class="badge {{ statusClass }}" style="color:{{ statusColor }};">{{ statusText }}</span>
