{% extends '!@Forumify/frontend/components/profile_header.html.twig' %}
{% block profile_user_actions %}
    {% if this.showUserActions %}
        {% set perscomUser = repository('PerscomUser').findOneBy({ user: user }) %}
        {% if perscomUser is not null %}
            <a class="btn-outlined btn-icon" href="{{ path('perscom_user', { id: perscomUser.id }) }}">
                <i class="ph ph-shield-chevron"></i>
            </a>
        {% endif %}
    {% endif %}
    {{ parent() }}
{% endblock %}
