{% extends '@Forumify/emails/base.html.twig' %}
{% block title %}
    {{ this.title(notification) }}
{% endblock %}
{% block body %}
    <h2>
        {{ this.title(notification) }}
    </h2>
    <hr>
    <div class="content-block">
        <p>
            {{ this.description(notification) }}
        </p>
    </div>
    <hr>
    {% include '@Forumify/emails/components/button.html.twig' with {
        href: path('perscom_user', { id: data.user_id }),
        label: 'perscom.opcenter.pfile'|trans,
    } only %}
{% endblock %}
