{% for field in submission.form.fields %}
    <div class="mb-2">
        <p class="text-bold">{{ field.name }}</p>
        {% set value = submission.data[field.key] is defined ? submission.data[field.key] : '' %}
        <p>
            {% if field.type is same as 'date' %}
                {% set value = value|perscom_date %}
                {% if value %}
                    {{ value|format_date }}
                {% endif %}
            {% else %}
                {{ value }}
            {% endif %}
        </p>
    </div>
{% endfor %}
