<div class="flex justify-between items-center w-100">
    <img src="https://placehold.co/24x24" alt="">
    <div class="w-50 text-center"">
        {% if soldier.rank %}{{ soldier.rank.name }}{% endif %} {{ soldier.name }}
    </div>
    <div class="w-25 text-center">
        {% if soldier.status %}{{ soldier.status.name }}{% endif %}
    </div>
</div>
