<div class="flex gap-10 justify-center mt-2">
    <div class="flex flex-col">
        <span style="color:green;">{{ this.getGoing }}</span>
        {{ 'perscom.mission.rsvp.going'|trans }}
    </div>
    <div class="flex flex-col">
        <span style="color:red;">{{ this.getAbsent }}</span>
        {{ 'perscom.mission.rsvp.not_going'|trans }}
    </div>
</div>
