{% extends '@Forumify/components/list.html.twig' %}
{% block list %}
    <ul>
        {% for mission in this.result.data %}
            <li class="flex flex-col topic-row justify-between">
                <a class="topic-link" href="{{ path('perscom_missions_view', { id: mission.id }) }}"></a>
                <div class="flex justify-between">
                    <h4 class="mb-0 text-subtitle">{{ mission.title }}</h4>
                    <div class="flex items-center gap-2 text-small">
                        {{ mission.createdAt|format_date }}
                    </div>
                </div>
            </li>
        {% else %}
            <li class="text-center p-4">{{ 'perscom.opcenter.no_missions'|trans }}</li>
        {% endfor %}
    </ul>
{% endblock %}
