<div {{ attributes }}>
    {% for unit in this.RSVPs %}
        <div class="mb-2">
            <h5>{{ unit.name }}</h5>
            <ul>
                {% for user in unit.users %}
                    <li class="flex items-center gap-1">
                        {% if user.rank is not null and user.rank.image is not null %}
                            <img width="24px" height="24px" src="{{ asset(user.rank.image, 'perscom.asset') }}">
                        {% endif %}
                        {{ user.name }}
                        {% if user.rsvp.going %}
                            <i class="ph ph-check-circle" style="color: green"></i>
                        {% else %}
                            <i class="ph ph-x-circle" style="color: red"></i>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>

{% macro placeholder(props) %}
    <div class="flex justify-center">
        {% include '@Forumify/components/loader.html.twig' %}
    </div>
{% endmacro %}
