{% extends '@Forumify/frontend/base.html.twig' %}
{% block body %}
    {% embed '@Forumify/components/tabs.html.twig' %}
        {% block tabHeaders %}
            {% for group in groups %}
                <button class="btn-link" data-tab-id="group-{{ group.id }}">
                    {{ group.name }}
                </button>
            {% endfor %}
        {% endblock %}
        {% block tabBodies %}
            {% for group in groups %}
                <ul id="group-{{ group.id }}">
                    {% for unit in group.units %}
                        <li class="card mb-2">
                            {% include '@ForumifyPerscomPlugin/frontend/personnel/components/unit.html.twig' with {
                                unit: unit
                            } only %}
                        </li>
                    {% endfor %}
                </ul>
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
